@charset "UTF-8";
/*VARIABLES*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/*INDEX:Menu principal*/
ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px;
}
ul li {
  display: inline-block;
  padding: 10px 50px;
  margin: auto;
  background-color: beige;
  color: black;
}
ul li a {
  text-decoration: none;
  color: black;
}
ul li a:hover {
  font-size: 30px;
  background-color: rgba(89, 247, 11, 0.682);
}
ul li a:active {
  background-color: rgba(89, 247, 11, 0.682);
  color: black;
  font-weight: bolder;
}
ul li a:visited {
  text-decoration: none;
  color: rgb(48, 101, 44);
}

/*INDEX:BODY*/
body {
  background-color: rgb(182, 202, 127);
}

main h1 {
  background-color: rgba(89, 247, 11, 0.682);
  color: black;
  font-size: xx-large;
  text-align: center;
  padding: 30px;
}
main .imagen1 {
  justify-content: center;
  width: 1150px;
  height: 350px;
  margin: 50px;
}
main p {
  background-color: rgba(231, 248, 247, 0.877);
  text-align: justify;
  font-size: x-large;
  color: darkolivegreen;
  padding: 40px;
  margin: 0px;
}

section {
  background-color: rgb(224, 237, 83);
}
section h2 {
  background-color: rgb(197, 236, 236);
  color: #000;
  font-size: x-large;
  text-align: center;
  padding: 20px;
}
section iframe {
  justify-items: center;
  margin: 70px;
}

div {
  background-color: rgb(171, 222, 222);
}
div h2 {
  background-color: green;
  color: #000;
  font-size: large;
  text-align: center;
  padding: 20px;
}
div p {
  background-color: rgba(231, 248, 247, 0.877);
  text-align: justify;
  font-size: x-large;
  color: darkolivegreen;
  padding: 40px;
  margin: 0px;
}
div a {
  text-decoration: none;
  color: black;
  font-size: medium;
}
div a:hover {
  font-size: 15px;
  background-color: rgba(89, 247, 11, 0.682);
}
div a:active {
  background-color: rgba(89, 247, 11, 0.682);
  color: black;
  font-weight: bold;
}
div a:visited {
  text-decoration: none;
  color: rgb(48, 101, 44);
}

footer h5 {
  background-color: rgb(34, 0, 255);
  color: black;
  font-size: small;
}
footer a {
  text-decoration: none;
  color: black;
  font-size: medium;
}
footer a:hover {
  font-size: 15px;
  background-color: rgba(89, 247, 11, 0.682);
}
footer a:active {
  background-color: rgba(89, 247, 11, 0.682);
  color: black;
  font-weight: bold;
}
footer a:visited {
  text-decoration: none;
  color: rgb(48, 101, 44);
}

/*Historia*/
.Historia {
  background-color: beige;
  color: crimson;
}
.Historia main h1 {
  background-color: rgba(120, 16, 161, 0.207);
  color: #000;
  font-size: xx-large;
  padding: 20px;
  margin: 20px;
}
.Historia main h2 {
  background-color: aqua;
  color: #000;
  font-size: x-large;
  padding: 20px;
  margin: 20px;
}
.Historia main p {
  background-color: #000;
  color: beige;
}
.Historia main img {
  justify-content: center;
  align-content: center;
  padding: 30px;
  margin: 20px;
  width: 1000px;
  height: 500px;
}

.Menu header {
  margin: 2px;
  padding: 2px;
}
.Menu input:focus {
  height: 30px;
  background-color: rgb(186, 151, 219);
}
.Menu input[type=checbox]:checked {
  box-shadow: 0 0 0 3px pink;
}
.Menu imput[type=checbox]:checked ~ .gracias {
  display: block;
}

/*GRID INDEX*/
.contenedorTotal {
  display: grid;
  background-color: rgb(236, 211, 211);
  width: 100%;
  height: 100%;
  column-gap: 5px;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(2, 1fr);
  grid-row: 0.2fr 1fr 1fr 1fr 0.2fr;
  grid-template-areas: "menu menu" "main main" "clima section" "footer footer";
}

.Encabezado {
  grid-area: menu;
}

.main {
  grid-area: main;
  align-items: center;
  justify-items: center;
}

.section {
  grid-area: section;
}

.clima {
  grid-area: clima;
}

.footer {
  grid-area: footer;
  text-align: center;
}

/*UBICACION GEOGRAFICA*/
.Contenedor {
  display: grid;
  background-color: rgb(236, 211, 211);
  width: 100%;
  height: 100%;
  column-gap: 5px;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(2, 1fr);
  grid-row: 0.2fr 1fr 1fr 1fr 0.2fr;
  grid-template-areas: "Titulo1 Titulo1" "Texto1 Texto1" "imagen2 mapa" "imagen2 mapa" "footer footer";
}

.Titulo1 {
  grid-area: Titulo1;
  background-color: rgba(89, 247, 11, 0.682);
  color: black;
  font-size: xx-large;
  text-align: center;
  padding: 30px;
}

.Texto1 {
  grid-area: Texto1;
  background-color: rgba(231, 248, 247, 0.877);
  text-align: justify;
  font-size: x-large;
  color: darkolivegreen;
  padding: 40px;
  margin: 0px;
}

.imagen2 {
  grid-area: imagen2;
  grid-auto-flow: column;
}

.mapa {
  grid-area: mapa;
}

.footer {
  grid-area: footer;
}

/*COMIDAD TIPICAS*/
.Menu {
  display: grid;
  grid-column: 2fr 2fr;
  grid-gap: 20px;
  grid-template-rows: 20 px 20px;
  background-color: antiquewhite;
  height: 250%;
  width: 100%;
  grid-template-areas: "menu menu" "item1 item1" "item2 item2" "item4 item5" "item6 item7" "item8 item8";
}

.imagen3 {
  width: 500px;
  height: 300px;
  flex-wrap: nowrap;
}

.item0 {
  grid-area: menu;
}

.item1 {
  grid-area: item1;
}

.item2 {
  grid-area: item2;
}

.item3 {
  grid-area: item3;
}

.item4 {
  grid-area: item4;
}

.item5 {
  grid-area: item5;
}

.item6 {
  grid-area: item6;
}

.item7 {
  grid-area: item7;
}

.footer {
  grid-area: item8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/*INDEX: tamaño tablet*/
@media screen and (max-width: 768px) {
  .contenedorTotal {
    background-color: coral;
    grid-template-columns: 1;
    grid-template-areas: "menu" "main" "section" "clima" "footer";
  }
  .imagen1 {
    width: 350px;
    height: 300px;
  }
}
/*tamaño celular */
@media screen and (max-width: 500px) {
  .contenedorTotal {
    background-color: cyan;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.5fr 0.5fr 0.5fr 0.1fr;
    grid-template-areas: "menu" "main" "section" "clima" "footer";
  }
  .imagen1 {
    width: 300px;
    height: 175px;
    justify-content: center;
    align-content: center;
  }
  .section {
    display: none;
  }
  .clima {
    justify-content: center;
    align-content: center;
  }
}
/*COMIDAS TIPICAS: Tamaño tablet 768*/
@media screen and (max-width: 768px) {
  .Menu {
    display: grid;
    background-color: rgb(3, 15, 15);
    grid-template-columns: 1fr;
    grid-template-rows: 0.1 repeat(7 1fr) 0.1fr;
  }
}

/*# sourceMappingURL=styles.css.map */
