@import "variables";
@import "index";
@import "grid";
*{margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size:62.5% ;
}

/*INDEX: tamaño tablet*/
@media screen and (max-width: 768px){
    .contenedorTotal {
    background-color: coral;
    grid-template-columns: 1;
    grid-template-areas:
    "menu"
    "main"
    "section"
    "clima"
    "footer"
    
    }
    .imagen1 {
        width: 350px;
        height: 300px;
        }

}

/*tamaño celular */

@media screen and (max-width: 500px){
    .contenedorTotal{
        background-color: cyan;
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 0.5fr 0.5fr 0.5fr 0.1fr;
        grid-template-areas:
        "menu"
        "main"
        "section"
        "clima"
        "footer"
    }
    .imagen1{
        width: 300px;
        height: 175px;
        justify-content: center;
        align-content: center;
    }
    .section{
        display:none
    }
        .clima {
        justify-content: center;
        align-content: center;
    }

}
/*COMIDAS TIPICAS: Tamaño tablet 768*/
@media screen and (max-width: 768px) 
{
    .Menu {
        display: grid;
        background-color: rgb(3, 15, 15);
        grid-template-columns: 1fr;
        grid-template-rows: 0.1 repeat(7 1fr) 0.1fr;
    }
    
}
    

